*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(44, 41, 41);
}

.box{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 100%;
    margin-top: 50vh;
    margin-left: 100vh;
}

h1{
    color: white;
    margin-left: 115vh;
    margin-top: -70px;
}