*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(73, 73, 73);
}

header{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(62, 34, 0);
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
}

header nav{
    display: flex;
    gap: 30px;
    color: white;
}

header a{
    color: white;
    text-decoration: none;
}

header h1{
    color: white;
}

header button{
    width: 50px;
    height: 30px;
    background-color: rgb(58, 58, 173);
    color: white;
}

@media (max-width: 900px) {
    header{
        gap: 20px;
        justify-content: space-around;
        
    }
}